{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}

<body>
 <div class="main-body">
<!-- main -->
	<div class="container-fluid" style="height: 100%" id="navbar">
		<a href="/"><div class="centered" id="task-agenda">TASK AGENDA</div></a>
		<div class="row" id="main-row">
			<div class="container" id="login">
				<label id="login-title">Register</label>
				{{render_form(form, novalidate=True, button_map={"submit": "primary"}) }}
			</div>
		</div>
	</div>

{% include "footer.html" %}